/** Add css rules here for your application. */

h1#title {
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

div.graph {
  min-height: 225px;
  min-width: 300px;
  margin: 20px 10px;
}

.hidden {
  display: none;
}

div#graphs {
  min-height: 600px;
  min-width: 1200px;
}

div#schedule {
  min-height: 600px;
}
