/** Add css rules here for your application. */

.center {
  text-align: center;
}

div.graph {
  min-height: 220px;
  min-width: 300px;
  margin: 20px 10px;
}

#footer {
  padding: 10px 0px;
}

.hidden {
  display: none;
}

div#graphs {
  min-height: 550px;
  min-width: 1200px;
}

div#schedule {
  min-height: 550px;
}
