<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <!-- TODO remove when deploying -->
   <filter>
    <filter-name>_ah_DevSocketFilter</filter-name>
    <filter-class>
      com.google.appengine.api.socket.dev.DevSocketFilter
    </filter-class>
    <init-param>
      <param-name>use-native-sockets</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <!-- TODO remove when deploying -->
  <filter-mapping>
    <filter-name>_ah_DevSocketFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>MSETServlet</servlet-name>
    <servlet-class>com.rathesh.codejam2012.server.MSETServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MSETServlet</servlet-name>
    <url-pattern>/codejam2012/mset</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>CodeJam2012.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>